.header-container {
  display: flex;
  justify-content: space-between;
}

.txt-header-container {
  width: 568px;
  margin-left: 120px;
  padding-top: 80px;
}

.txt-header-container h1 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 55px;
}

.txt-header-container p {
  font-size: 14px;
  font-weight: 700;
  width: 500px;
}

.btn-header {
  background-color: #5CB85F;
  color: #FFF;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px 8px 12px;
  border: none;
}

.img-header {
  width: 704px;
  height: 404px;
}

